._.DS_Store
._.git
0_まとめのまとめ
0_原稿
1_EPMA
Figure_定性的な比較
Rietveld_Harada
XRD_Simulation
*DS_Store
._*
2_Program/OLD
2_Program/.ipynb_checkpoints
2_Program/1_thin_section_xy_compiler.ipynb
2_Program/0_3_XRD_Pattern_Visualization+Zoning_Fitting_ver240815.ipynb
2_Program/0_Bulk_XRF_XRD_比較_ver240305.ipynb

0_Data/*
!0_Data/2_Compiled_Data
0_Data/2_Compiled_Data/OLD

XRD波長と角度の関係図
pxrd-backup.git